{% extends "base.html" %} {% block content %}
<main class="main main--about">
  <p>
    Hi, I’m a New York-based Full Stack Engineer. I am proficient in Python,
    JavaScript, HTML5, CSS3, PostgreSQL, and more, which enables me to tackle a
    wide range of technical challenges. I collaborate with business leaders,
    designers, and clients to build effective web-based software solutions,
    focusing on innovation and efficiency to meet diverse needs.
  </p>
  <p>
    Passionate about problem-solving, I take pride in writing clean, scalable,
    and well-organized code. In my spare time, I enjoy traveling, exploring
    culinary delights, and cycling. These activities fuel my creativity and keep
    me inspired both personally and professionally.
  </p>
</main>
{% endblock %}
