{% extends "base.html" %} {% block content %}
<main class="main main--content">
  <dl>
    <div class="contact">
      <dt>Email:</dt>
      <dd class="contact__details">
        <a class="contact__link" href="mailto:kenweinbergdev@gmail.com">
          kenweinbergdev [at] gmail.com
        </a>
      </dd>
    </div>
    <div class="contact">
      <dt>GitHub:</dt>
      <dd class="contact__details">
        <a
          class="contact__link"
          href="https://github.com/Ken212"
          target="”_blank”"
        >
          Ken212
        </a>
      </dd>
    </div>
    <div class="contact">
      <dt>LinkedIn:</dt>
      <dd class="contact__details">
        <a
          class="contact__link"
          href="https://www.linkedin.com/in/kenwweinberg/"
          target="_blank"
        >
          kenweinberg
        </a>
      </dd>
    </div>
  </dl>
</main>
{% endblock %}
